@model HiveData.ViewModels.ProfilePostsViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
    var userid = User.Identity.GetUserId();
}

<div class="container">
    <div class="row profile">

        @Html.Partial("ProfilePartial")

        <div class="col-md-9">
            <div class="profile-content">
                @foreach (var item in Model.Posts)
                {
                    <div class="media">
                        <a class="pull-left" href="">
                            @if (Model.userProfile.ImagePath == null)
                            {
                                <img src="~/Content/Img/profile-image-placeholder.png" width="64" height="64" />
                            }
                            else
                            {
                                <img src="~/@Model.userProfile.ImagePath" width="64" height="64" />
                            }
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">@Model.userProfile.Firstname @Model.userProfile.Lastname</h4>
                            <p>
                                @item.PostContent
                            </p>
                            <ul class="list-inline list-unstyled">
                                <li> @item.DatePosted </li>
                                <li>|</li>
                                @if (item.Awards < 2)
                                {
                                    <li> @item.Awards Award</li>
                                }
                                else
                                {
                                    <li> @item.Awards Awards</li>
                                }
                            </ul>
                            <ul class="list-inline list-unstyled">
                                <li>@Html.ActionLink("Award", "")</li>
                                <li>|</li>
                                <li>@Html.ActionLink("Comment", "")
                                <li>|</li>
                                <li>@Html.ActionLink("Share", "")</li>
                                <li>|</li>
                                <li>
                                <li>@Html.ActionLink("View Comments", "ViewPostComments", "Post", new { id = item.PostId }, new { }) (@item.PostComments.Count)</li>
                            </ul>
                            <hr />
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>