@using Microsoft.AspNet.Identity
@model HiveData.Models.UserProfile

@{
    ViewBag.Title = "ViewProfile";
}

<h2>@Model.Firstname's profile</h2>

<div>
    <h4>Cinehive Profile</h4>
    <hr />
    @if (Model.ImagePath == null)
    {
        <div class="row">
            <a class="pull-left" href="">
                <img src="~/Content/Img/profile-image-placeholder.png" width="340" height="340" />
            </a>
        </div>
    }
    else
    {
        <div class="row">
            <a class="pull-left" href="">
                <img src="~/@Model.ImagePath" width="340" height="340" />
            </a>
        </div>
    }
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Firstname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Firstname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Lastname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lastname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AboutMe)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AboutMe)
            </dd>
        </dl>
        <div class="row">
            <div class="pull-left">
                @if (User.Identity.IsAuthenticated)
                {

                    if (ViewBag.ReceivedFriendReq)
                    {
                        @Html.ActionLink("Accept Friend Request", "AddFriend", "Friend",
                                 new { friendId = Model.UserId }, new { @class = "btn btn-success" })
                    }
                    else if (!ViewBag.IsFriend && !ViewBag.SentFriendReq)
                    {
                        @Html.ActionLink("Send Friend Request", "SendFriendReq", "Friend",
                                 new
                                      {
                                          friendProfileId = Model.ProfileId,
                                     friendUserId = Model.UserId
                                      }, new { @class = "btn btn-success" })
                    }
                    else if (ViewBag.SentFriendReq)
                    {
                        <h5> Pending Friend Request</h5>
                    }
                    else if (ViewBag.IsFriend)
                    {
                        <h5>Your friend</h5>
                        @Html.ActionLink("Remove Friend", "Remove", "Friend",
                        new
                        {
                             friendProfileId = Model.ProfileId,
                             friendUserId = Model.UserId
                         }, new { @class = "btn btn-danger" });
                    }
                }
            </div>
        </div>
    </div>
 </div>