@model HiveData.ViewModels.PostCommentUserViewModel
@{
    ViewBag.Title = "ViewPostComments";
    int id = 0;
    int CommentId = 0;
}

<div class="container">
    <div class="well">
        <div class="media">
            <a class="pull-left" href="@Url.Action("Index", "Profile", new { id = Model.UserProfile.ProfileId })" )">
                <img src="~/@Model.UserProfile.ImagePath" width="140" height="140" />
            </a>
            <div class="media-body">
                <h4 class="media-heading"> @Model.UserProfile.Firstname @Model.UserProfile.Lastname</h4>
                <p>
                    @Model.Post.PostContent
                </p>
                <ul class="list-inline list-unstyled">
                    <li> @Model.Post.DatePosted </li>
                    <li>|</li>
                    @if (Model.Post.Awards < 2)
                    {
                        <li> @Model.Post.Awards Award</li>
                    }
                    else
                    {
                        <li> @Model.Post.Awards Awards</li>
                    }
                </ul>
                <ul class="list-inline list-unstyled">
                    <li>@Html.ActionLink("Award", "GiveAward", "Post", new { Id = Model.Post.PostId }, new { })</li>
                    <li>|</li>
                    <li>@Html.ActionLink("Share", "")</li>
                    <li>|</li>
                    <li>@Html.ActionLink("Comment", "Create", "Comment", new { id = Model.Post.PostId }, new { })</li>                        
                    <li>@Html.ActionLink("Remove", "DeletePost", "Post", new { id = Model.Post.PostId }, null)</li>
                    <li>|</li>
                    <li>@Html.ActionLink("Edit", "EditPost", "Post", new { id = Model.Post.PostId }, null)</li>
                </ul>

            </div>
        </div>
    </div>
</div>
<hr />

@foreach (var item in Model.CommentList)
{
    <div class="container">
        <div class="well">
            <div class="media">
                <a class="pull-left" href="@Url.Action("Index", "Profile", new { id = item.CommentId })" )">
                    <img src="~/@Model.GetUserPicture(id = item.CommentId)" width="140" height="140" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">@Html.ActionLink(@Model.GetFirstName(CommentId = item.CommentId) + " " + Model.GetLastName(CommentId = item.CommentId), "ViewProfile", "Profile", new { id = item.CommentId }, new { })</h4>
                    <p>
                        @item.CommentContent 
                        
                    </p>
                    <ul class="list-inline list-unstyled">
                        <li> @item.DateCommented </li>
                        <li>|</li>
                        @if (item.Awards < 2)
                        {
                            <li> @item.Awards Award</li>
                        }
                        else
                        {
                            <li> @item.Awards Awards</li>
                        }
                    </ul>
                    <ul class="list-inline list-unstyled">
                        <li>@Html.ActionLink("Award", "GiveAward", "Post", new { Id = item.CommentId }, new { })</li>
                        <li>|</li>
                        <li>@Html.ActionLink("Share", "")</li>
                        <li>|</li>
                        <li>@Html.ActionLink("Remove", "Delete", "Comment", new { id = item.CommentId, postid = Model.Post.PostId }, null)</li>
                        <li>|</li>
                        <li>@Html.ActionLink("Edit", "Edit", "Comment", new { id = item.CommentId, postid = Model.Post.PostId }, null)</li>
                        @if (item.Edited == true)
                        {
                            <li><strong>Edited</strong></li>
                        }

                    </ul>

                </div>
            </div>
        </div>
    </div>
}