<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CineHive</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Cinehive", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                @if (HttpContext.Current.User.IsInRole("AdminUser"))
                {
                    <li>@Html.ActionLink("Admin Panel", "Admin", "Admin")</li>
                }
            </ul>
            @Html.Partial("_LoginPartial")          
            <div style="width:50%; margin: 0 auto">
                @using (Html.BeginForm("Search", "Search", FormMethod.Get, new { @class = "navbar-form" }))
                {
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="query">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                }
            </div>
       </div>       
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Cinehive</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
