@model HiveData.ViewModels.SearchResultsVM

@{
    ViewBag.Title = "Search Results";
    if (Model.PostResults != null)
    {
        ViewBag.PostResults = Model.PostResults;
    }

    bool hasPosts = false;
    bool hasUsers = false;
    bool hasMovies = false;
}

@Scripts.Render("~/Content/Scripts/Post.js")

<div class="container">
    <br />

    @if (Model.UserResults != null && Model.UserResults.Count > 0)
    {
        hasUsers = true;
        <h2 id="txt-white">People</h2>
        <div class="container">
            @for (int i = 0; i < 5 && i < Model.UserResults.Count; i++)
            {
                var item = Model.UserResults[i];
                <div class="container">
                    <div class="well bg-white">
                        <div class="media">
                            <a class="media-left" href="@Url.Action("ViewProfile", "Profile", new { id = item.ProfileId })">
                                @if (item.ImagePath == null)
                                {
                                    <img src="~/Content/Img/profile-image-placeholder.png" width="64" height="64" />
                                }
                                else
                                {
                                    <img src="~/@item.ImagePath" width="64" height="64" />
                                }
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    @Html.ActionLink(item.Firstname + " " + item.Lastname, "ViewProfile", "Profile",
                                        new { id = item.ProfileId }, new { })
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <ul class="list-group- list-inline">
                @if (Model.UserResults.Count > 5)
                {
                    <li class="list-group-item">
                        @Html.ActionLink("View More...", "FilteredSearch", "Search", new { query = ViewBag.query, type = "user" }, new { })
                    </li>
                }
                <li class="list-group-item">Total Results: @Model.UserResults.Count</li>
            </ul>
        </div>
        <hr />
    }

    @if (Model.PostResults != null && Model.PostResults.Count > 0)
    {
        hasPosts = true;
        <h2 id="txt-white">Posts</h2>
        <div class="container">
            @for (int i = 0; i < 5 && i < Model.PostResults.Count; i++)
            {
                var post = Model.PostResults[i];
                var user = Model.FindUserProfile(post.PostId);

                <div class="container">
                    @{ var divId = "post" + i; }
                    @if (post.Shared == true)
                    {
                        int authorPostID = post.AuthorPost.PostId;
                        string authorName = Model.GetFirstName(authorPostID) + " " + Model.GetLastName(authorPostID);

                        <div class="profile-content-pane">
                            <div id="@(divId + "_1")" class="media">
                                <div id="@(divId + "_2")" class="media-body">
                                    <p>Shared a post from @authorName</p>
                                    <div id="@(divId+"_3")" class="profile-content-pane-share">
                                        <a class="pull-left" href="@Url.Action("ViewProfile", "Profile", new { id = Model.GetProfileId(authorPostID) })">
                                            @if (Model.GetUserPicture(authorPostID) == null)
                                            {
                                                <img class="post-share-img circular-image" src="~/Content/Img/profile-image-placeholder.png" width="64" height="64" />
                                            }
                                            else
                                            {
                                                <img class="post-share-img circular-image" src="~/@Model.GetUserPicture(authorPostID)" width="64" height="64" />
                                            }
                                        </a>
                                        <h4 class="media-heading">@authorName</h4>
                                        <p>
                                            @if ((bool)post.AuthorPost.hasFilmLink)
                                            {
                                                @Html.Raw(post.AuthorPost.PostContent)
                                            }
                                            else
                                            {
                                                @post.AuthorPost.PostContent
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else if (post.PictureChange == true)
                    {
                        <div class="profile-content-pane">
                            <div id="@(divId + "_1")" class="media">
                                <div id="@(divId + "_2")" class="media-body">
                                    <p>@post.PostContent</p>
                                    <div id="@(divId+"_3")" class="profile-content-pane-img">
                                        <img src="/@post.AuthorPicture" class="profile-content-img" />
                                    </div>
                                    @* JS inserts buttons here *@
                                </div>
                            </div>
                        </div>
                    }
                    else // display standard post
                    {
                        <div class="profile-content-pane">
                            <div id="@(divId + "_1")" class="media">
                                <div id="@(divId + "_2")" class="media-body post-body">

                                    <p id="@(divId+"_3")">
                                        @if ((bool)post.hasFilmLink)
                                        {@Html.Raw(post.PostContent) }
                                    else
                                    { @post.PostContent}
                                    </p>
                                </div>

                            </div>
                        </div>
                    }

                    @{
                        bool isUserPostOrAdmin = false;
                        if (Model.IsUserPost(post.PostId) == true || User.IsInRole("AdminUser"))
                        {
                            isUserPostOrAdmin = true;
                        }
                    }

                    <script type="text/javascript">
                        ReturnPost("@divId", @Model.GetProfileId(post.PostId), @post.PostId, "@Model.GetFirstName(post.PostId)",
                        "@Model.GetLastName(post.PostId)", "@Model.GetUserPicture(post.PostId)", "@post.DatePosted",
                        @Json.Encode(post.Popular), @Model.GetAwards(post.PostId), @Json.Encode(Model.AwardGiven(post.PostId)),
                        @Json.Encode(isUserPostOrAdmin), @Json.Encode(post.Edited), @Json.Encode(post.Shared), @Model.GetCommentsCount(post.PostId));
                    </script>

                    <div id="Comments-@post.PostId"></div>

                    <script>
                        var rendered = false;
                        $("#post-@post.PostId").click(function () {
                            if (!rendered) {

                                $.ajax({
                                    url: '@Url.Action("IndexPostCommentsPartial", "Post")',
                                    type: "GET",
                                    data: {i_d: @post.PostId},
                                    contentType: "application/json; charset=utf-8",
                                    success: function (result) {
                                    //alert("success");
                                    $("#Comments-@post.PostId").html(result);
                                    rendered = true;
                                    },
                                    error: function (xhr) {
                                    alert("error");
                                    }

                                    });
                            } else {
                                $('#Comments-@post.PostId').html("");
                                rendered = false;
                            }
                        });
                    </script>
                </div>
            }
            <ul class="list-group- list-inline">
                @if (Model.PostResults.Count > 5)
                {
                    <li class="list-group-item">@Html.ActionLink("View More...", "FilteredSearch", "Search", new { query = ViewBag.query, type = "post" }, new { })</li>
                }
                <li class="list-group-item">Total Results: @Model.PostResults.Count</li>
            </ul>
        </div>
        <hr />
    }

    @if (Model.MovieResults != null && Model.MovieResults.Count > 0)
    {
        hasMovies = true;

        <div class="container">
            <h2 id="txt-white">Movies</h2>
            @for (int i = 0; i < 5 && i < Model.MovieResults.Count; i++)
            {
                var item = Model.MovieResults[i];
                <div class="container">
                    <div class="well bg-white">
                        <div class="media">
                            <a class="media-left" href="@Url.Action("GetMovieByID", "Movie", new { id = item.MovieApi_ID })">
                                @if (item.PosterPath == null)
                                {
                                    <span class="glyphicon glyphicon-film"></span>
                                }
                                else
                                {
                                    <img class="img" src="http://image.tmdb.org/t/p/w92@(item.PosterPath)" width="92" />
                                }
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    @Html.ActionLink(item.Title, "GetMovieByID", "Movie", new { id = item.MovieApi_ID }, new { })
                                </h4>
                                <p>@item.Overview</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <ul class="list-group list-group- list-inline">
                @if (Model.MovieResults.Count > 5)
                {
                    <li class="list-group-item">
                        @Html.ActionLink("View More...", "FilteredSearch", "Search", new { query = ViewBag.query, type = "movie" }, new { })
                    </li>
                }
                <li class="list-group-item">Total Results: @Model.totalMovieResults</li>
            </ul>
        </div>
    }

    @if (!hasMovies && !hasPosts && !hasUsers)
    {
        <div class="well">
            <p>Returned 0 results.</p>
        </div>

    }
</div>