@model HiveData.Models.Movie

@{
    ViewBag.Title = "ViewMovie";
}

<div class="container">
    <br/>
    <div class="panel">
        @if (Model == null || Model.MovieApi_ID == 0)
        {
            <h5 class="text-center">Could not find movie</h5>
        }
        else
        {
            <h2>@Model.Title</h2>
            <div class="media">
                <div class="media-left">
                    @if (Model.PosterPath == null)
                    {
                        <img class="img" src="~/Content/Img/poster-placeholder.jpg" width="320" />
                    }
                    else
                    {
                        <img class="img" src="http://image.tmdb.org/t/p/w342@(Model.PosterPath)" width="320" />
                    }
                </div>
                <div class="media-right">
                    @if (Model.VideoKey != null)
                    {
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/@(Model.VideoKey)" title="YouTube video player"
                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                    gyroscope; picture-in-picture" allowfullscreen></iframe>
                    }
                </div>
                <div class="media"></div>
            </div>
            <br />
            if(User.Identity.IsAuthenticated)
            {
                <ul class="list-unstyled">
                    <li><a href="@Url.Action("RateMovie","Movie", 
                                new { movieApiID = Model.MovieApi_ID, stars = 1})">1 star</a>
                    </li>
                    <li><a href="@Url.Action("RateMovie","Movie", 
                                new { movieApiID = Model.MovieApi_ID, stars = 2})">2 star</a></li>
                    <li><a href="@Url.Action("RateMovie","Movie", 
                                new { movieApiID = Model.MovieApi_ID, stars = 3})">3 star</a></li>
                    <li><a href="@Url.Action("RateMovie","Movie", 
                                new { movieApiID = Model.MovieApi_ID, stars = 4})">4 star</a></li>
                    <li><a href="@Url.Action("RateMovie","Movie", 
                                new { movieApiID = Model.MovieApi_ID, stars = 5})">5 star</a></li>
                </ul>
            }
            <dl class="dl-horizontal">
                <dt>
                    Overview:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Overview)
                </dd>

                <dt>
                    Release Date:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReleaseDate)
                </dd>
            </dl>
        }
    </div>
</div>
