<div class="col-md-2">
    <div class="index-sidebar">
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                Explore CineHive
            </div>
        </div>
        <div class="profile-usermenu">
            <ul class="nav">
                <li>
                    <a href="@Url.Action("Index", "Movie")">
                        <i class="glyphicon glyphicon-film"></i>
                        Movie Hub
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Album")">
                        <i class="glyphicon glyphicon-picture"></i>
                        Photos
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ViewFriends", "Profile", new { profileId = Model.UserProfile.ProfileId })">
                        <i class="glyphicon glyphicon-user"></i>
                        Friends
                    </a>
                </li>
                <li>
                    <hr />
                </li>
                <li>
                    <a href="@Url.Action("Index", "Home")">
                        <i class="glyphicon glyphicon-star"></i>
                        New
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Popular", "Home")">
                        <i class="glyphicon glyphicon-fire"></i>
                        What's Popular
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("FriendFeed", "Home")">
                        <i class="glyphicon glyphicon-user"></i>
                        Friend Feed
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
